* {
  box-sizing: border-box;
  text-align: center;
}

.container{
  width: auto;
  height: 500px;;
  margin: auto;
  background-color:rgb(212, 235, 243);
}

button {
  background-color: rgb(100, 125, 149);
  border: 2px solid blue;
  font-weight: bold;
  border-radius: 10px;
  width: 150px;
  margin:auto;
  padding: 10px 0px;
}

select {
  margin: auto;
  
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 20px;
  font-weight: normal;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.keypad-board{
  margin: auto;
  padding: 10px 0px;
}

.keypad{
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.amount{
  color: blue;
  font-weight: 900;
  font-size: large;
}

.console-normal {
  background: gray;
  color: #fff;
  font-size: small;
  height: auto;
  width: 200px;
  padding: 10px 10px;
  margin: auto; 
}

.console-error {
  background: red;
  color: #fff;
  font-size: small;
  height: auto;
  width: 200px;
  padding: 10px 10px;
  margin: auto; 
}